<section style="padding-top: 20px">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="handleSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password" matInput
        placeholder="Your password"
        ngModel name="password"
        required
        #pwInput="ngModel"
      >
      <mat-error *ngIf="pwInput.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
  <div class="google">
  <button class="google" *ngIf="!(isLoading$ | async)" mat-fab color="accent" (click)="googleSignIn()" [disabled]="f.valid">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
      <path fill="#fff"
            d="M21.35 11.1h-9.17v2.73h6.51c-.33 3.81-3.5 5.44-6.5 5.44C8.36 19.27 5 16.25 5 12c0-4.1 3.2-7.27 7.2-7.27 3.09 0 4.9 1.97 4.9 1.97L19 4.72S16.56 2 12.1 2C6.42 2 2.03 6.8 2.03 12c0 5.05 4.13 10 10.22 10 5.35 0 9.25-3.67 9.25-9.09 0-1.15-.15-1.81-.15-1.81z"/>
    </svg>
  </button>
  </div>
</section>
<!--  <img src="https://lh3.googleusercontent.com/a-/AAuE7mDTm8qjlQ-b0L_HFvfqGfKHL1JqOKbj1mTE1enMKA">-->
