<mat-nav-list (click)="closeSidenav.emit()">
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" >
    <mat-icon>face</mat-icon>
    <span class="nav-text">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav-text">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-text">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="authService.logout()">
      <mat-icon>input</mat-icon>
      <span class="nav-text">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
